<%- include('../partials/admin-header') %>


  <!-- Form Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4 align-items-center justify-content-center mt-5">
      <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
          <h6 class="mb-4">Add Product</h6>
          <form action="/add_product" method="POST" name="basic" enctype="multipart/form-data"
            onsubmit="return ValidateBasic()">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Name</label>
              <input type="text" class="form-control" name="name" id="exampleInputPassword1" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">price</label>
              <input type="number" class="form-control" name="price" id="exampleInputPassword1" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Stock</label>
              <input type="number" class="form-control" name="stock" value="" />
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">photo</label>
              <input id="file" type="file" class="form-control" name="photo" multiple id="exampleInputPassword1"
                onchange="return fileValidation()" />
            </div>
            <div class="form-group dropdown mt-4">
              <button type="button" class="btn btn-light" data-toggle="dropdown">
                Categories
                <select name="category">
                  <% data.forEach(product=> { %>
                    <option value="<%=product.category , product._id %>">
                      <%= product.category %>
                    </option>
                    <%});%>
                </select>
              </button>
            </div>

            <button type="submit" class="btn btn-primary mt-5">
              Add Product
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Form End -->
  <script>
    function ValidateBasic() {

      var name = document.forms["basic"]["name"].value.trim();
      var price = document.forms["basic"]["price"].value.trim()
      var stock = document.forms["basic"]["stock"].value.trim()


      if (name == "") {
        alert("name must be filled out");
        return false;
      }
      var priceRegex = /^(\d*([.,](?=\d{3}))?\d+)+((?!\2)[.,]\d\d)?$/;
      if (!priceRegex.test(price)) {
        alert("Invalid price address.");
        return false;
      }
      if (stock == "") {
        alert("stock must be filled out");
        return false;
      }
      return true;
    }

  </script>
  <script>
    function fileValidation() {
      var fileInput =
        document.getElementById('file');
      var filePath = fileInput.value;
      var allowedExtensions =
        /(\.jpg|\.jpeg|\.avif|\.webp)$/i;

      if (!allowedExtensions.exec(filePath)) {
        alert('Invalid file type');
        fileInput.value = '';
        return false;
      }
    }
  </script>
  <%- include('../partials/admin-footer') %>