
<!-- {{!-- jquery 3.3.1 --}}
<script src="/javascripts/jquery-3.3.1.min.js"></script>

{{!-- elevate zoom --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.1/jquery.elevatezoom.min.js"></script> -->
<!-- Main jQuery -->
<script src="/asset_1/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.1 -->
<script src="/asset_1/plugins/bootstrap//asset_1/js/bootstrap.min.js"></script>
<!-- Bootstrap Touchpin -->
<script src="/asset_1/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<!-- Instagram Feed Js -->
<script src="/asset_1/plugins/instafeed/instafeed.min.js"></script>
<!-- Video Lightbox Plugin -->
<script src="/asset_1/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
<!-- Count Down Js -->
<script src="/asset_1/plugins/syo-timer/build/jquery.syotimer.min.js"></script>

<!-- slick Carousel -->
<script src="/asset_1/plugins/slick/slick.min.js"></script>
<script src="/asset_1/plugins/slick/slick-animation.min.js"></script>

<!-- Google Mapl -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script type="text/javascript" src="/asset_1/plugins/google-map/gmap.js"></script>



<!-- Main Js File -->
<script src="/asset_1/js/script.js"></script>



</body>
</html>
