
<%-include('../partials/user-header')%>
<%-include('../partials/user-nav')%>

<section class="page-wrapper success-msg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
              <i class="tf-ion-android-checkmark-circle"></i>
            <h2 class="text-center">Thank you! For your Order</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
            <a href="/shop" class="btn btn-main mt-20">Continue Shopping</a>
            <a href="/orderDetails" class="btn btn-main mt-20">Order Details</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%-include('../partials/user-footer')%>